


 table {background-color: white;
 border-collapse: collapse;
 line-height: 1;
 background-color: white;

}



 

td {padding-right: 5px; padding-left: 3px; height:30px;   }

 table, th, td {
   border: 1px solid #C0C0C0;
   font-size:9pt;

    
} 

 th, td {
   
   -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
          
    
} 




 



 tr:nth-child(even) {
    background-color: #F0F0F0;
}

.bluetheader th {background-color: #A9D0F5; 
 text-align:left; padding-right: 10px;  }

.redtheader th {background-color: #FF6666; 
 text-align:left; padding-right: 10px; }


.bluetheader.col-lg-12  table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc{cursor:pointer;*cursor:hand}
table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled{background-repeat:no-repeat;background-position:center right}
table.dataTable thead .sorting{background-image:url("../img/bg.png")}

.bluetheader.col-lg-12 table.dataTable thead .sorting_asc{background-image:url("../img/asc.png");
background-color: #3399FF;}

.bluetheader.col-lg-12 table.dataTable thead .sorting_desc{background-image:url("../img/desc.png");
background-color: #3399FF;}



.redtheader.col-lg-12  table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc{cursor:pointer;*cursor:hand}
table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled{background-repeat:no-repeat;background-position:center right}
table.dataTable thead .sorting{background-image:url("../img/bg.png")}

.redtheader.col-lg-12 table.dataTable thead .sorting_asc{background-image:url("../img/asc.png");
background-color: #CC0033;}

.redtheader.col-lg-12 table.dataTable thead .sorting_desc{background-image:url("../img/desc.png");
background-color: #CC0033;}




.topmenu-right .inline{
    float: left;
    padding-right: 5px;
}



/*M_anlegen2.php*/
             


.panel-heading.stammheading{
    background-color: #33CCFF;
    color:#003366; 
}

.panel-heading.gesundhheading{
    background-color: #CCFFCC;
   color: #336633;
}

 .panel-heading.finanzheading{
    background-color: #FF9999;
    color: #660033;
}


.topmenu{
    padding-bottom: 3px;
}



label.required:after {
    content: "* ";
    color: red;
}
red {
    color: red;
}

td.red, input[type="text"].red {
    color: white;
    background-color: #ff4d4d;
}

td.yellow {
    background-color: yellow;
}

th.overhead {
    background-color: #cce6ff;
/*    border-left: 1.5px solid black;*/
/*    border-right: 2px solid black;*/
}

ul.nav{
    padding-bottom: 0;
}

.pagination-own{
    margin:0;
    display: inline;
}


/* Vertical Offset Bottom */
.vert-offset-top-12{
    margin-top: 12em;
}
.vert-offset-top-11{
    margin-top: 11em;
}
.vert-offset-top-10{
    margin-top: 10em;
}
.vert-offset-top-9{
    margin-top: 9em;
}
.vert-offset-top-8{
    margin-top: 8em;
}
.vert-offset-top-7 {
    margin-top: 7em;
}
.vert-offset-top-6{
    margin-top: 6em;
}
.vert-offset-top-5{
    margin-top: 5em;
}
.vert-offset-top-4{
    margin-top: 4em;
}
.vert-offset-top-3{
    margin-top: 3em;   
}
.vert-offset-top-2{
    margin-top: 2em;
}
.vert-offset-top-1{
    margin-top: 1em;
}
.vert-offset-top-0{
    margin-top: 0em;
}
/* Vertical Offset Bottom */
.vert-offset-bottom-12{
    margin-bottom: 12em;
}
.vert-offset-bottom-11{
    margin-bottom: 11em;
}
.vert-offset-bottom-10{
    margin-bottom: 10em;
}
.vert-offset-bottom-9{
    margin-bottom: 9em;
}
.vert-offset-bottom-8{
    margin-bottom: 8em;
}
.vert-offset-bottom-7{
    margin-bottom: 7em;
}
.vert-offset-bottom-6{
    margin-bottom: 6em;
}
.vert-offset-bottom-5{
    margin-bottom: 5em;
}
.vert-offset-bottom-4{
    margin-bottom: 4em;
}
.vert-offset-bottom-3{
    margin-bottom: 3em;
}
.vert-offset-bottom-2{
    margin-bottom: 2em;
}
.vert-offset-bottom-1{
    margin-bottom: 1em;
}
.vert-offset-bottom-0{
    margin-bottom: 0em;
}


formheader{
    
    background-color: lightgray;
    border-radius: 5px;
    width: inherit;
    height: 50px;
}